<div class="container-fluid mt-5 mx-0 pt-3 orange">
    <div class="row">
        <div class="col-md-3 col-6 text-center">
            <ul class="no-dec">
                <li class="text-dark mb-2"><b>About Us</b></li>
                <li class="mb-3"><a href="#" class="text-light langar">About Gomeb</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">We are hiring</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Terms & policy</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Privacy Policy</a></li>
                <li class="mb-2"><a href="#" class="text-light langar">Billing Policy</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-6 text-center">
            <ul class="no-dec">
                <li class="text-dark mb-2"><b>About Us</b></li>
                <li class="mb-3"><a href="#" class="text-light langar">About Gomeb</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">We are hiring</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Terms & policy</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Privacy Policy</a></li>
                <li class="mb-2"><a href="#" class="text-light langar">Billing Policy</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-6 text-center">
            <ul class="no-dec">
                <li class="text-dark mb-2"><b>About Us</b></li>
                <li class="mb-3"><a href="#" class="text-light langar">About Gomeb</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">We are hiring</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Terms & policy</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Privacy Policy</a></li>
                <li class="mb-2"><a href="#" class="text-light langar">Billing Policy</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-6 text-center">
            <ul class="no-dec">
                <li class="text-dark mb-2"><b>About Us</b></li>
                <li class="mb-3"><a href="#" class="text-light langar">About Gomeb</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">We are hiring</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Terms & policy</a></li>
                <li class="mb-3"><a href="#" class="text-light langar">Privacy Policy</a></li>
                <li class="mb-2"><a href="#" class="text-light langar">Billing Policy</a></li>
            </ul>
        </div>
    </div>
</div>